@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

.fira-sans-condensed-regular {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

h1 {
  color: #0098CD;
  font-size: 2em;
} 

h2 {
  color: #0098CD;
}

.upload-section, .available-videos, .processing-section {
  margin-bottom: 20px;
}

button {
  background-color: #4CBAE1;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0053AF;
}

form {
  margin-bottom: 20px;
}

/* Asegura que el contenedor del spinner esté centrado */
#spinner-container {
  display: flex; /* Inicia oculto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Para asegurarse que esté sobre otros elementos */
}

#spinner {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background: url('/static/images/icons/spinner.svg') no-repeat center;
  background-size: contain;
  justify-content: center;
  align-items: center;
}

/* Cuando el spinner esté visible */
.show-spinner #spinner-container {
  display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
  padding: 12px;
  text-align: justify;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: #0645AD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

.table-wrapper {
  margin: 20px 0;
}

.grid-center {
  display: grid;
  justify-content: center;
}

/* Agrega este estilo a tu archivo CSS */
#progressMessage {
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
  overflow: hidden;    /* Ocultar el desbordamiento */
  text-overflow: ellipsis; /* Agregar puntos suspensivos si el texto es demasiado largo */
  width: 300px; /* Ajusta este valor según el ancho deseado */
  margin: auto; /* Centrar el texto si es necesario */
  text-align: center; /* Alinear el texto al centro */
}