<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Rúbricas</title>
</head>
<body>
    <main class="grid-center">
        <div class="container"></div>
        <header>
            <img src="static/images/logo/logo.svg" alt="Logo Unir" class = "logo">
            <h1>Procesamiento de Videos</h1>
        </header>
    
        <section class="upload-section">
        <form id="uploadForm" action="/upload-video/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput">
            <button type="submit">Subir Video</button>
        </form>
        </section>

        <section class="availabre-videos">
        <h2 id="subT-VidDisp">Videos disponibles:</h2>
        <ul id="videoList">
            {% for video in videos %}
                <li>{{ video }}</li>
            {% endfor %}
        </ul>
        </section>

        <section class="processing-section">
        <h2 id="subT-SelecVid">Seleccionar Video para Procesar</h2>
        <form id="processForm" action="/process-video/" method="post">
            <select name="video_file" required>
                {% for video in videos %}
                    <option value="{{ video }}">{{ video }}</option>
                {% endfor %}
            </select>
            <button id="processVideo" type="submit">Procesar Video</button>
        </form>
        </section>

        <!-- Spinner de progreso -->
        <div id="spinner" style="display:none;">
            <img src="/static/images/icons/spinner.svg" alt="Procesando...">
            <p id="progressMessage">Procesando video...</p>
        </div>

        <script src="/static/js/script.js"></script>
</main>
</body>
</html>
